<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/businessmanblack.png">
    <title>InnTransit</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <!--<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" media="screen">-->
    <link href="/static/css/starter-template.css" rel="stylesheet">
 </head>

    <div class="banner">
        <h1 style="font-size:30pt"><img src="/static/images/businessman.png" width=40px>Inn Transit</h1>
    </div>

    <br>
    <br>
    <br>
        <div class="container">
            <h4> ERROR: Departure date before arrival date. </h4>
            <br>
            <br> 
            <form class="form-inline" action="/" method="GET">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Return to form</button>
                 </div>
            </form>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

