
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/businessmanblack.png">
    <title>InnTransit</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <!--<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" media="screen">-->
    <link href="/static/css/starter-template.css" rel="stylesheet">

    <style>
      #map-container { height: 400px }
      #map-container { width: 40% }  
      #map-container { float: right }    
      #map-container { margin: 40px 10px}
    </style>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/static/js/sorttable.js"></script>

  </head>

  <body>
    <div class="banner">
        <h1 style="font-size:30pt"><img src="/static/images/businessman.png" width=40px>Inn Transit</h1>
    </div>
    <br>
    <div class="sub_banner">
      <p style="font-size:16pt"> Results for your search within {{ threshold }} min transit time <br>
        from Moscone Center, SF for {{ strdate }} to {{ enddate }}. </p>    
    </div>

    <div class="row">

      <div class="col-md-6">
        <table class="sortable">
        <tr><td width=10% height=50px> </td><td width=75%></td><th width=15%> PRICE</th></tr> 
        {% for item in hotel %}
        <tr><td style="padding:20px"><img src={{ item['image'] }}></td><td> <b>{{ item['name'] }} </b><br> {{ item['rating'] }}&#9733; <br> <a href={{ item['link'] }} target="_blank">Book it now!</a></td><td>${{ item['rate'] }} <br> avg nightly</td></tr>
        {% endfor %}
        </table>
      </div>

      <div id="map-container" class="col-md-6"></div>        
      <script>  
          markers_lat = {{ marker_lat }};
          markers_lon = {{ marker_lon }};

          var markerArray = [];      
          for (var i = 0; i < markers_lat.length; i++) {
            markerArray.push(new google.maps.LatLng(markers_lat[i],markers_lon[i]));
          }
          function initialize() {
            var moscone = new google.maps.LatLng(37.783944, -122.401297);
            var mapOptions = {
              zoom: 11,
              center: moscone
            }
            var map = new google.maps.Map(document.getElementById('map-container'), mapOptions);
            for (var i = 0; i < markers_lat.length; i++) {
              var marker = new google.maps.Marker({
                position: markerArray[i],
                map: map,
             });
            }
          }
         google.maps.event.addDomListener(window, 'load', initialize);

      </script>


      <div class="container col-md-6">

        <form action="/output" method="GET">
        <div class="form-group">
          <p > Start Date </p>
          <label for="strdate"></label>
          <input type="text" id="strdate" name='strdate' placeholder="MM/DD/YYYY">
        </div>
        <div class="form-group">
          <p > End Date </p>
          <label for="enddate"></label>
          <input type="text" id="enddate" name='enddate' placeholder="MM/DD/YYYY">
        </div>
        <div class="form-group" width=50%>
          <p> Max Transit Time </p>
          <label for="ttime"></label>
          <input type="number" id="ttime" name='ttime' placeholder="mins">
        </div>
        <div class="form-group">
          <p> </p>
          <br>
          <button type="submit" class="btn btn-default">search again</button>
        </div>
     </form>
</div>
      
      </div>

    </div>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

